
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

		@font-face {
  	font-family: Quattro;
  	src: url(fonts/Quattro.woff);
		}

		@font-face {
  	font-family: QuattroIt;
  	src: url(fonts/QuattroIt.woff);
		}

		@font-face {
  	font-family: QuattroBo;
  	src: url(fonts/QuattroBo.woff);
		}

		@font-face {
  	font-family: GothamXNBookk;
  	src: url(fonts/GothamXNarrow-Book.otf);
		}

		@font-face {
  	font-family: GothamXNMedium;
  	src: url(fonts/GothamXNarrow-Medium.otf);
		}

		@font-face {
  	font-family: GothamXNBold;
  	src: url(fonts/GothamXNarrow-Bold.otf);
		}

		@font-face {
  	font-family: GothamXNBlack;
  	src: url(fonts/GothamXNarrow-Black.otf);
		}

		@font-face {
  	font-family: GothamXNUltra;
  	src: url(fonts/GothamXNarrow-Ultra.otf);
		}

 

	html{
		background-color: #F0F0F0;
		font-family: 'Quattro', sans-serif;
		color: #1B1B1B;
	}
	
	nav {
		margin-bottom: 2em;
		margin-top: 2em;
		
	}




	.hyper {
  float: right;
  margin-left: 1.5em;
  font-size: 1.2em;
 
	}





	body {
		font-size: 1em;
		line-height: 1.6em;
		text-align: left;
		margin: 0 auto;
		padding: 0 10%;
		margin-top: 15%;
		margin-bottom: 2em;
		max-width: 800px;
		min-width: 300px;
		
		
	}




	h1 {
		font-size: 6.5em;
		font-family: 'Inter', sans-serif;		
		margin-bottom: 0.4em;
		line-height: 1em;
		text-align: right;
		font-weight: 800;
	}

	h2 {
		font-size: 1.9em;
		font-family: 'Inter', sans-serif;		
		margin-bottom: 0;
		line-height: 1em;
		
	}
		

	p {
		margin-top: 0.5em;
		margin-bottom: 1em;
		font-size: 1em;
	}

	

	figure {
		margin-left: 0;
		margin-right: 0;
	}

	img {border-radius: 1em;}


	.projects {
		
		filter:grayscale(100%);
		transition: .3s ease;
  	
	}


	
	.projects:hover {
		
		filter:grayscale(0%);
		transition: .3s ease;
  	transform: scale(1.1);
	}



	.item {
		border-left: 4px solid #1B1B1B;
		margin-left: 0.5em;
		padding-left: 0.5em;

	}

	.tit {
		
		font-family: 'QuattroBo', sans-serif;
	}

	.ext {
		
		font-family: 'QuattroIt', sans-serif;
	}

	.dat {
		
		font-size: 0.8em;
		
	}


	figcaption {
		text-align: right;
		font-size: 0.8em;
		font-family: QuattroIt, sans-serif;
		margin-top: -0.5em;
		margin-right: 1em;

	}

	#name {
		position: fixed;
   	bottom: 10%;
   	right: 10%;
   	
		
	}



	#cr {
		position: fixed;
   	bottom: 10%;
   	right: 10%;
	}

	

	.subtitle {
		font-size: 2em;
		font-weight: 700;
		font-family: 'Inter', sans-serif;
		max-width: 600px;
		line-height: 1.2em;

	}
	



	
	a:link {
	  background: #2A2A95;
background: linear-gradient(to bottom left, #2A2A95 -20%, #1CB5E0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration: none;
	 
	  
	}
	
	a:visited {
	  background: #2A2A95;
background: linear-gradient(to bottom left, #2A2A95 6%, #1CB5E0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration: none;

	} 
		
	a:hover {
	  background: linear-gradient(to top right, #2A2A95 6%, #1CB5E0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
	  text-decoration: none;
	
	}  






.trends {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -0.5em;
  margin-bottom: 2em;
}
.box {
  width: calc(23% - 1em);
  height: 4em;
  align-items: flex-start;
  border-radius:12px;
  justify-content: flex-start;
  background-color: #1b1b1b;
  margin: 0.5em;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0em;
}
.box p {
  margin: 0;
  vertical-align: top;
  font-family: 'Inter', sans-serif;

}
.box p:first-of-type {
	font-size: 0.9em;

  
}

.box p:last-of-type {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
  font-size: 1.3em;
  font-style: italic;
  	
}





.box.move {

 color: #E33664;
}

.box.exercise {
  color: #ADE346;
}

.box.stand {
color: #2CE7E0;
}

.box.sleep {
color: #A28BE1;
}

.box.cardio {
  color: #FF7039 ;
}
.box.oxygen {
  color: #42BDFF;
}

.box.hrv {

 color: #DF3636;
}

.box.water {
  color: #4270FF ;
}




.box.duration {
  color: #4BC865;
}
.box.energy {
  color: #4BC865;
}

.box.distance {
color: #4BC865 ;
}
.box.elevation {
  color: #4BC865;
}





.box:hover {
  background-color: #1B1B1B;
  color: #F0F0F0;
}

.box.move:hover {
  background-color: #E33664;
}

.box.exercise:hover {
  background-color: #ADE346;
}

.box.stand:hover {
  background-color: #2CE7E0;
}
.box.sleep:hover {
  background-color: #A28BE1;
}

.box.cardio:hover {
  background-color: #FF7039 ;
}
.box.oxygen:hover {
  background-color: #42BDFF;
}


.box.hrv:hover {
  background-color: #DF3636 ;
}
.box.water:hover {
  background-color: #4270FF;
}


.box.duration:hover {
  background-color: #4BC865;
}
.box.energy:hover {
  background-color: #4BC865;
}

.box.distance:hover {
  background-color: #4BC865 ;
}
.box.elevation:hover {
  background-color: #4BC865;
}



.summary-box {
  background-color: #1b1b1b;
  color: #4BC865;
  margin: 0em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.01em;
  padding-right: 0.5em;
  font-family: 'Inter', sans-serif;
	font-weight: 700;
  font-size: 1.3em;
  border-radius:12px;
}

.summary-box:hover {
  background-color: #4BC865;
  color: #F0F0F0;

}






@media only screen and (min-width: 1000px) {
  #name {
  	
    position: relative;
    float: right;
   	right: 0;
   	margin-top: 300px;

  }

  #cr {
  	
    position: relative;
    float: right;
   	right: 0;
   	margin-top: 200px;

  }
}


@media only screen and (max-width: 800px) {
  h1 {
  
    font-size: 5em;

	
  }

  .subtitle {

		font-size: 1.6em;	

	}

	  #cr {
  	
    width: 40%;
   	

  }

}



@media only screen and (max-width: 635px) {
  h1 {
  	
    font-size: 4.5em;

  }

  .subtitle {

		font-size: 1.4em;	

	}
}

@media only screen and (max-width: 555px) {
  h1 {
  	
    font-size: 3.4em;



  }


}


@media only screen and (max-width: 480px) {
  h1 {
  	
    font-size: 3em;
   	


  }
}






@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .box {
    width: calc(46% - 1em);
  }

  .summary-box {
    width: calc(98% - 1em);
    margin: 0.5em auto;
  }
}


@media only screen and (max-width: 500px) {
  .box {
  	margin: 0.2em;
    width: calc(46.5% - 1em);
    line-height: 1.2em;
    height: 3.2em;
  }

  .box p {
	


}

  .box p:first-of-type {
	font-size: 0.8em;

  
}
.box p:last-of-type {
  font-size: 1.1em;

}




.summary-box {
		padding-top: 0.2em;
    font-size: 1em;
    height: 4em;
  }
}







	@media (prefers-color-scheme: dark) {


	html{
		background-color: #1B1B1B;
		color: #F0F0F0;
	}

	.hypertxt {
  color: #F0F0F0;
	}

	.item {
		border-left: 4px solid #F0F0F0;
		margin-left: 0.5em;
		padding-left: 0.5em;

	}

	.box {
		background-color: #222222;
		color: #F0F0F0;
	
	}

	.summary-box {
		background-color: #222222;
		color: #4BC865;

	
	}

	
	.box:hover {
  color: #1B1B1B;
}

.summary-box:hover {
  color: #1B1B1B;
}

	  
	}    


